# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

Peliculas-Ideti/Peliculas-Ideti/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
Peliculas-Ideti/Peliculas-Ideti/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
Peliculas-Ideti/Peliculas-Ideti.suo
Peliculas-Ideti/Peliculas-Ideti/bin/Debug/Peliculas-Ideti.exe
Peliculas-Ideti/Peliculas-Ideti/bin/Debug/Peliculas-Ideti.exe
Peliculas-Ideti/Peliculas-Ideti/bin/Debug/Peliculas-Ideti.exe
Peliculas-Ideti/Peliculas-Ideti/bin/Debug/Peliculas-Ideti.pdb
Peliculas-Ideti/Peliculas-Ideti/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
Peliculas-Ideti/Peliculas-Ideti/obj/x86/Debug/Peliculas-Ideti.exe
Peliculas-Ideti/Peliculas-Ideti/obj/x86/Debug/Peliculas-Ideti.pdb
*.cache
*.pdb
*.exe
*.suo
*.exe
*.pdb
*.cache
*.exe
*.pdb
Peliculas-Ideti/Peliculas-Ideti.suo
Peliculas-Ideti/Peliculas-Ideti.suo
Peliculas-Ideti/Peliculas-Ideti/bin/Debug/Peliculas-Ideti.exe
Peliculas-Ideti/Peliculas-Ideti/bin/Debug/Peliculas-Ideti.pdb
Peliculas-Ideti/Peliculas-Ideti/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
Peliculas-Ideti/Peliculas-Ideti/obj/x86/Debug/Peliculas-Ideti.exe
Peliculas-Ideti/Peliculas-Ideti/obj/x86/Debug/Peliculas-Ideti.pdb
*.exe
*.exe
*.pdb
*.cache
*.exe
*.pdb